{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
  Самостоятельное удаление не&nbsp;предусмотрено
{% endblock %}

{% block content %}
  <!-- Контент страницы -->
  <div class="container bg-body-tertiary rounded shadow-sm w-auto my-auto p-3 p-lg-4">
    <h2>Действие запрещено</h2>
    <div class="mt-5">
      <p>
        <strong>Для обеспечения управляемости сайтом самостоятельное удаление суперпользователя не&nbsp;предусмотрено.</strong>
      </p>
      <p>Пожалуйста, обратитесь к администратору.</p>
    </div>
  </div>
  <!-- *********** -->
{% endblock %}
